In [44]:
import csv

import pandas as pd

Found that the file csv file 2018dbase format changed in the middle of the year.
Plan is to split into two separate files.

In [45]:
column_length = []
with open("../data/2018dbase.csv") as file, open("../data/2018dbase_101.csv", "wt") as file_101, open("../data/2018dbase_103.csv", "wt") as file_103:
    reader = csv.reader(file)
    writer_101 = csv.writer(file_101)
    writer_103 = csv.writer(file_103)
    for line in reader:
        column_length.append(len(line))
        if len(line) == 101:
            writer_101.writerow(line)
        if len(line) == 103:
            writer_103.writerow(line)

In [46]:
headers = "DATE,WIND DIR,WIND SPD,GUST,IN HUM,OUT HUM,IN TEMP,OUT TEMP,BARO,TOT RAIN,NA,NA,NA,NA,NA,NA,EVAPOTRANSPIRATION,NA,NA,WIND CHILL,IN HEAT INDEX,OUT HEAT INDEX".split(",")
df = pd.read_csv("../data/2017dbase.csv", header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,93,94,95,96,97,98,99,100,101,102
0,201706241830,257.0,0,5,29,46.7,87.3,89.4,29.905,18.79,...,0,0,0,0,0,0,0,0,0,0
1,201706241840,218.0,0,3,29,46.7,87.3,88.7,29.905,18.79,...,0,0,0,0,0,0,0,0,0,0
2,201706241850,226.0,0,4,29,48.7,87.1,87.7,29.908,18.79,...,0,0,0,0,0,0,0,0,0,0
3,201706241900,246.0,0,4,29,50.7,87.1,87.0,29.916,18.79,...,0,0,0,0,0,0,0,0,0,0
4,201706241910,275.0,0,2,29,51.7,86.9,86.5,29.916,18.79,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27266,201712312310,333.0,13,19,9,43.7,69.4,19.6,30.348,42.27,...,0,0,0,0,0,0,0,0,0,0
27267,201712312320,355.0,10,20,9,45.7,69.4,19.2,30.350,42.27,...,0,0,0,0,0,0,0,0,0,0
27268,201712312330,334.0,8,18,9,46.7,69.4,19.1,30.360,42.27,...,0,0,0,0,0,0,0,0,0,0
27269,201712312340,331.0,7,14,9,47.7,69.4,19.1,30.360,42.27,...,0,0,0,0,0,0,0,0,0,0
27270,201712312350,320.0,5,18,9,48.7,69.4,18.7,30.361,42.27,...,0,0,0,0,0,0,0,0,0,0

In [51]:
df = df.drop(range(21, 103), axis=1)
df

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,201706241830,257.0,0,5,29,46.7,87.3,89.4,29.905,18.79,...,0,0,0,0,0,0,0,0,89.400,84.860
1,201706241840,218.0,0,3,29,46.7,87.3,88.7,29.905,18.79,...,0,0,0,0,0,0,0,0,88.700,84.860
2,201706241850,226.0,0,4,29,48.7,87.1,87.7,29.908,18.79,...,0,0,0,0,0,0,0,0,87.700,84.664
3,201706241900,246.0,0,4,29,50.7,87.1,87.0,29.916,18.79,...,0,0,0,0,0,0,0,0,87.000,84.664
4,201706241910,275.0,0,2,29,51.7,86.9,86.5,29.916,18.79,...,0,0,0,0,0,0,0,0,86.500,84.471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27266,201712312310,333.0,13,19,9,43.7,69.4,19.6,30.348,42.27,...,0,0,0,0,0,0,0,0,6.662,67.476
27267,201712312320,355.0,10,20,9,45.7,69.4,19.2,30.350,42.27,...,0,0,0,0,0,0,0,0,7.862,67.476
27268,201712312330,334.0,8,18,9,46.7,69.4,19.1,30.360,42.27,...,0,0,0,0,0,0,0,0,9.137,67.476
27269,201712312340,331.0,7,14,9,47.7,69.4,19.1,30.360,42.27,...,0,0,0,0,0,0,0,0,9.950,67.476
27270,201712312350,320.0,5,18,9,48.7,69.4,18.7,30.361,42.27,...,0,0,0,0,0,0,0,0,11.454,67.476

In [54]:
df2 = pd.DataFrame(df.values, columns=headers[:21])

In [55]:
df2.drop("NA", axis=1)

,DATE,WIND DIR,WIND SPD,GUST,IN HUM,OUT HUM,IN TEMP,OUT TEMP,BARO,TOT RAIN,EVAPOTRANSPIRATION,WIND CHILL,IN HEAT INDEX
0,2.017062e+11,257.0,0.0,5.0,29.0,46.7,87.3,89.4,29.905,18.79,0.0,89.400,84.860
1,2.017062e+11,218.0,0.0,3.0,29.0,46.7,87.3,88.7,29.905,18.79,0.0,88.700,84.860
2,2.017062e+11,226.0,0.0,4.0,29.0,48.7,87.1,87.7,29.908,18.79,0.0,87.700,84.664
3,2.017062e+11,246.0,0.0,4.0,29.0,50.7,87.1,87.0,29.916,18.79,0.0,87.000,84.664
4,2.017062e+11,275.0,0.0,2.0,29.0,51.7,86.9,86.5,29.916,18.79,0.0,86.500,84.471
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27266,2.017123e+11,333.0,13.0,19.0,9.0,43.7,69.4,19.6,30.348,42.27,0.0,6.662,67.476
27267,2.017123e+11,355.0,10.0,20.0,9.0,45.7,69.4,19.2,30.350,42.27,0.0,7.862,67.476
27268,2.017123e+11,334.0,8.0,18.0,9.0,46.7,69.4,19.1,30.360,42.27,0.0,9.137,67.476
27269,2.017123e+11,331.0,7.0,14.0,9.0,47.7,69.4,19.1,30.360,42.27,0.0,9.950,67.476
27270,2.017123e+11,320.0,5.0,18.0,9.0,48.7,69.4,18.7,30.361,42.27,0.0,11.454,67.476